# substituir meudominio.com.br pelo seu dominio aqui e também dentro dos arquivos do nginx (ibm-mq/etc/nginx/templates/*.conf)
# colocar o e-mail usado na compra do domínio na variável EMAIL no arquivo .env
DOMAIN=meudominio.com.br
EMAIL=exemplo@email.com
MQ_ADMIN_PASSWORD_SECURE=ibmMQPassword
MQ_APP_PASSWORD_SECURE=ibmMQPassword